<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/edit-lable-general.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>Edit Label</title>
    <link rel="icon" href="img/favicon.png" sizes="64x64" type="image/png">
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="edit-lable-general" />
    <div class="container-center-horizontal">
      <div class="edit-lable-general screen">
        <div class="gb-bNFVPB">
          <div class="bg-style-1zGOpD">
            <!-- Header Images -->
            <img class="path-42-YRMWSM" src="img/path-42-1@1x.png" alt="Path 42" />
            <img class="path-43-YRMWSM" src="img/path-288@1x.png" alt="Path 43" />
            <img class="person-YRMWSM" src="img/person-10@1x.png" alt="Person" />
            <img class="arrow-YRMWSM" src="img/arrow-14@1x.png" alt="Arrow" />
            <div class="main-header-YRMWSM"></div>
            <div class="logo-YRMWSM">
              <div class="logo-cfRpnG">
                <!-- Logo Images -->
                <div class="m-b057dm">
                  <img class="path-49-L2VpBo" src="img/path-294@1x.png" alt="Path 49" />
                </div>
                <div class="v-b057dm">
                  <img class="path-50-E5wbIu" src="img/path-295@1x.png" alt="Path 50" />
                </div>
                <div class="e-b057dm">
                  <img class="path-51-wjY3oR" src="img/path-296@1x.png" alt="Path 51" />
                </div>
                <div class="group-29-b057dm">
                  <img class="rectangle-6-xBTdKg" src="img/rectangle-11@1x.png" alt="Rectangle 6" />
                </div>
                <div class="group-30-b057dm">
                  <img class="path-52-Vkg3rC" src="img/path-297@1x.png" alt="Path 52" />
                  <img class="path-53-Vkg3rC" src="img/path-110@1x.png" alt="Path 53" />
                  <img class="path-54-Vkg3rC" src="img/path-111@1x.png" alt="Path 54" />
                </div>
                <div class="pin-b057dm">
                  <img class="path-55-238Czj" src="img/path-300@1x.png" alt="Path 55" />
                  <div class="ellipse-4-238Czj"></div>
                </div>
                <div class="box-b057dm">
                  <img class="rectangle-7-UxQ4vu" src="img/rectangle-12@1x.png" alt="Rectangle 7" />
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- New Label Button -->
        <a href="/new-lable">
          <div class="new-lable-button-bNFVPB">
            <div class="group-375-rbZcRr smart-layers-pointers">
              <div class="green-button-new-lable-pNSE9C"></div>
              <div class="x-pNSE9C smart-layers-pointers">
                <img class="path-464-QCnX8R" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-QCnX8R" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <h1 class="title-pNSE9C lato-normal-white-39-8px">New lable</h1>
            </div>
          </div>
        </a>
        
        <div class="main-shape-bNFVPB">
          <div class="main-shape-gF2xVz">
            <div class="rectangle-68-YSUd7F"></div>
            <img class="path-377-YSUd7F" src="img/path-377-1@1x.png" alt="Path 377" />
            <div class="box-icon-YSUd7F">
              <!-- Box Icons -->
              <div class="group-203-OWvxGZ">
                <img class="path-378-vB20Rj" src="img/path-302@1x.png" alt="Path 378" />
              </div>
              <div class="group-204-OWvxGZ">
                <img class="path-379-h1aIvK" src="img/path-303@1x.png" alt="Path 379" />
              </div>
              <div class="group-205-OWvxGZ">
                <img class="path-380-EcrQbz" src="img/path-304@1x.png" alt="Path 380" />
              </div>
              <div class="group-206-OWvxGZ">
                <img class="path-381-ex7xxu" src="img/path-305@1x.png" alt="Path 381" />
                <img class="path-382-ex7xxu" src="img/path-306@1x.png" alt="Path 382" />
                <img class="path-383-ex7xxu" src="img/path-307@1x.png" alt="Path 383" />
              </div>
              <div class="group-207-OWvxGZ">
                <img class="path-384-xTZuxC" src="img/path-308@1x.png" alt="Path 384" />
              </div>
              <div class="group-208-OWvxGZ">
                <img class="path-385-hiitCl" src="img/path-309@1x.png" alt="Path 385" />
                <img class="path-386-hiitCl" src="img/path-307@1x.png" alt="Path 386" />
              </div>
              <div class="group-209-OWvxGZ">
                <img class="path-387-CxDaOG" src="img/path-311@1x.png" alt="Path 387" />
              </div>
              <div class="group-210-OWvxGZ">
                <img class="path-388-7NG25N" src="img/path-307@1x.png" alt="Path 388" />
              </div>
              <img class="path-389-OWvxGZ" src="img/path-313@1x.png" alt="Path 389" />
              <div class="group-211-OWvxGZ">
                <img class="path-390-MJzwq6" src="img/path-314@1x.png" alt="Path 390" />
                <img class="path-391-MJzwq6" src="img/path-315@1x.png" alt="Path 391" />
              </div>
              <div class="group-212-OWvxGZ">
                <img class="path-392-ZMKE3C" src="img/path-307@1x.png" alt="Path 392" />
              </div>
            </div>

            <!-- Label contents to display -->
            <div class="rectangle-70-YSUd7F">
              <% if (label.memo) { %>
                  <% if (label.memo.endsWith('.txt')) { %>
                      <!-- Display text memo content -->
                      <textarea id="memo-text" class="memo-textarea" readonly></textarea>
                      <script>
                          // Fetch the text memo content
                          fetch('<%= label.memo %>')
                              .then(response => response.text())
                              .then(data => {
                                  document.getElementById('memo-text').textContent = data;
                              })
                              .catch(error => console.error('Error fetching memo:', error));
                      </script>
                  <% } else if (label.memo.endsWith('.jpg') || label.memo.endsWith('.png')) { %>
                      <!-- Display image memo -->
                      <img src="<%= label.memo %>" alt="Label Memo Image" class="memo-image">

                  <% } else if (label.memo.endsWith('.webm')) { %>
                        <!-- Display audio memo -->
                        <audio controls class="memo-audio">
                            <source src="<%= label.memo %>" type="audio/webm">
                            Your browser does not support the audio element.
                        </audio>
                  <% } else { %>
                      <!-- Unsupported memo type -->
                      <p>Unsupported memo type.</p>
                  <% } %>
              <% } else { %>
                  <!-- No memo available -->
                  <p>No memo available.</p>
              <% } %>
          </div>
    
          </div>
 
          <form id="editLabelForm" action="/edit-lable-general" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="labelId" value="<%= label.id %>">
        
            <!-- Text Button with Popout -->
            <a id="text-btn" href="#">
                <div class="text-button-gF2xVz smart-layers-pointers">
                    <div class="rectangle-77-dRgpWk"></div>
                    <img class="icon-dRgpWk icon" src="img/icon-11@1x.png" alt="icon" />
                    
                    <!-- Popout for Text Button -->
                    <div id="textPopup" class="popup">
                        <textarea id="textMemo" name="textMemo" rows="5" cols="50" placeholder="Type your memo here..."></textarea>
                    </div>
                </div>
            </a>
        
            <!-- Record Button with Popout -->
            <a id="record-btn" href="#">
              <input type="hidden" id="voiceUploadData" name="voiceUploadData" />
                <div class="record-button-gF2xVz smart-layers-pointers">
                    <div class="rectangle-76-w2pNth"></div>
                    <img class="icon-w2pNth icon" src="img/icon-8@1x.png" alt="icon" />
                    
                    <!-- Popout for Record Button -->
                    <div id="recordPopup" class="popup">
                        <!-- Timeline -->
                        <div class="timeline">
                            <div class="progress" id="recordProgress"></div>
                        </div>
                        <!-- Timer -->
                        <div class="timer" id="recordTimer">00:00</div>
        
                        <!-- Button Group: Record and Stop Recording -->
                        <div class="button-group">
                            <div class="left-icons">
                                <button id="startRecord" class="icon-button">
                                    <i class="fas fa-microphone"></i> <!-- Start Recording Icon -->
                                </button>
                                <button id="stopRecord" class="icon-button" disabled>
                                    <i class="fas fa-stop"></i> <!-- Stop Recording Icon -->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        
            <!-- Upload Button with Popout -->
            <a id="upload-btn" href="#">
                <div class="upload-button-gF2xVz smart-layers-pointers">
                    <div class="rectangle-75-PhT99Y"></div>
                    <div class="upload-icon-PhT99Y">
                        <img class="path-423-UeiypR" src="img/path-423-4@1x.png" alt="Path 423" />
                        <img class="path-424-UeiypR" src="img/path-424-4@1x.png" alt="Path 424" />
                    </div>
                    
                    <!-- Popout for Upload Button -->
                    <div id="uploadPopup" class="popup">
                        <input type="file" id="imageUpload" name="imageUpload" accept="image/*"> <!-- File Upload Button -->
                    </div>
                </div>
            </a>
        
            <!-- Title Textarea -->
            <div class="titel-gF2xVz">
                <div class="rectangle-69-idr9mv"></div>
                <textarea
                    id="titel12"
                    class="titel-idr9mv lato-black-white-80px"
                    name="titel12"
                    required
                ><%= label.label_name %></textarea>
        
                <!-- Public Switch -->
                <div class="public-switch-container">
                    <span class="public-label">Public</span>
                    <!-- Hidden input to track the switch state -->
                    <input type="hidden" id="publicStatus" name="public" value="<%= label.public ? 'true' : 'false' %>">
                    <!-- Toggle switch with updated JavaScript function -->
                    <label class="switch">
                        <input type="checkbox" id="publicToggle" <%= label.public ? 'checked' : '' %> onclick="updatePublicStatus()">
                        <span class="slider"></span>
                    </label>
                </div>    
            </div>
            
            <!-- Done Button -->
            <button id="check-button" type="submit">
                <div class="done-bNFVPB smart-layers-pointers">
                    <img class="done-XHXhxU" src="img/done-1@1x.png" alt="Done" />
                </div>
            </button>
        </form>
        
        <!-- Cancel Button -->
        <a href="/home">
          <div class="cancel-bNFVPB smart-layers-pointers">
            <img class="cancel-JOm1WX" src="img/cancel-13@1x.png" alt="Cancel" />
          </div>
        </a>
      </div>
    </div>

  </body>
  <script src="../src/helpers/popupHandler.js"></script>
</html>
