<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <link rel="stylesheet" type="text/css" href="css/fragile-comple.css" />
    <link rel="stylesheet" type="text/css" href="css/hazard-comple.css" />
    <link rel="stylesheet" type="text/css" href="css/general-complete.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home</title>
    <link rel="icon" href="img/favicon.png" sizes="64x64" type="image/png">
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="home" />
    <div class="container-center-horizontal">
        <div class="home screen">
            <div class="bg-elems-xl4bh6">
                <div class="bg-elements-b2ulYz">
                    <div class="group-374-xE0Mep">
                        <img class="path-462-oQfiJA" src="img/path-462@1x.png" alt="Path 462" />
                        <img class="path-463-oQfiJA" src="img/path-463@1x.png" alt="Path 463" />
                        <img class="person-oQfiJA" src="img/person-10@1x.png" alt="Person" />
                    </div>
                    <img class="arrow-xE0Mep" src="img/arrow-1@1x.png" alt="Arrow" />
                    <div class="main-header-xE0Mep"></div>
                </div>
                <div class="logo-b2ulYz">
                    <div class="m-5Lf67E">
                        <img class="path-469-I7EJXq" src="img/path-370@1x.png" alt="Path 469" />
                    </div>
                    <div class="v-5Lf67E">
                        <img class="path-470-p1FER0" src="img/path-456@1x.png" alt="Path 470" />
                    </div>
                    <div class="e-5Lf67E">
                        <img class="path-471-bnzQAx" src="img/path-457@1x.png" alt="Path 471" />
                    </div>
                    <div class="group-264-5Lf67E">
                        <img class="rectangle-81-4Escn6" src="img/rectangle-11@1x.png" alt="Rectangle 81" />
                    </div>
                    <div class="group-265-5Lf67E">
                        <img class="path-472-U17kh0" src="img/path-297@1x.png" alt="Path 472" />
                        <img class="path-473-U17kh0" src="img/path-110@1x.png" alt="Path 473" />
                        <img class="path-474-U17kh0" src="img/path-111@1x.png" alt="Path 474" />
                    </div>
                    <div class="pin-5Lf67E">
                        <img class="path-475-hv4NV3" src="img/path-376@1x.png" alt="Path 475" />
                        <div class="ellipse-24-hv4NV3"></div>
                    </div>
                    <div class="box-5Lf67E">
                        <img class="rectangle-82-iG4p4b" src="img/rectangle-12@1x.png" alt="Rectangle 82" />
                    </div>
                </div>
            </div>
            
            <!-- New Label Button -->
            <a href="/new-lable">
                <div class="new-lable-button-xl4bh6 smart-layers-pointers">
                    <div class="group-375-PelNm4 smart-layers-pointers">
                        <div class="green-button-new-lable-vUdHvx"></div>
                        <div class="x-vUdHvx smart-layers-pointers">
                            <img class="path-464-5p9wUQ" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                            <img class="path-465-5p9wUQ" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
                        </div>
                        <h1 class="title-vUdHvx lato-normal-white-39-8px">New lable</h1>
                    </div>
                </div>
            </a>

            <!-- Notification Bell Icon -->
            <div id="notification-bell-container">
                <button id="notification-bell" class="button">
                <svg viewBox="0 0 448 512" class="bell">
                    <path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path>
                </svg>
                </button>
                
            <!-- Notification Popup -->
            <div id="notification-popup" style="display:none;">
                <% if (notifications && notifications.length > 0) { %>
                <% notifications.forEach(notification => { %>
                    <div class="card <%= notification.type %>-notification" id="notification-<%= notification.id %>">
                        <svg class="wave" viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0,256L11.4,240C22.9,224,46,192,69,192C91.4,192,114,224,137,234.7C160,245,183,235,206,213.3C228.6,192,251,160,274,149.3C297.1,139,320,149,343,181.3C365.7,213,389,267,411,282.7C434.3,299,457,277,480,250.7C502.9,224,526,192,549,181.3C571.4,171,594,181,617,208C640,235,663,277,686,256C708.6,235,731,149,754,122.7C777.1,96,800,128,823,165.3C845.7,203,869,245,891,224C914.3,203,937,117,960,112C982.9,107,1006,181,1029,197.3C1051.4,213,1074,171,1097,144C1120,117,1143,107,1166,133.3C1188.6,160,1211,224,1234,218.7C1257.1,213,1280,139,1303,133.3C1325.7,128,1349,192,1371,192C1394.3,192,1417,128,1429,96L1440,64L1440,320L1428.6,320C1417.1,320,1394,320,1371,320C1348.6,320,1326,320,1303,320C1280,320,1257,320,1234,320C1211.4,320,1189,320,1166,320C1142.9,320,1120,320,1097,320C1074.3,320,1051,320,1029,320C1005.7,320,983,320,960,320C937.1,320,914,320,891,320C868.6,320,846,320,823,320C800,320,777,320,754,320C731.4,320,709,320,686,320C662.9,320,640,320,617,320C594.3,320,571,320,549,320C525.7,320,503,320,480,320C457.1,320,434,320,411,320C388.6,320,366,320,343,320C320,320,297,320,274,320C251.4,320,229,320,206,320C182.9,320,160,320,137,320C114.3,320,91,320,69,320C45.7,320,23,320,11,320L0,320Z"></path>
                        </svg>
                    
                        <div class="icon-container">
                        <span class="material-icons icon">
                            <% if (notification.type === 'system') { %>
                            build
                            <% } else if (notification.type === 'marketing') { %>
                            campaign
                            <% } else if (notification.type === 'reminder') { %>
                            notifications
                            <% } else if (notification.type === 'label_share') { %>
                                inventory_2
                            <% } %>
                        </span>
                        </div>
                    
                        <!-- Message Section -->
                        <div class="message-text-container">
                            <% if (notification.type === 'label_share') { %>
                                <p class="message-text">New shared label!</p>
                                <div class="action-buttons">
                                    <button class="accept-btn" data-shared-label-id="<%= notification.id %>">Accept</button>
                                    <button class="decline-btn" data-shared-label-id="<%= notification.id %>">Decline</button>
                                </div>
                            <% } else { %>
                                <p class="message-text"><%= notification.type %></p>
                                <p class="sub-text"><%= notification.message %></p>
                                <!-- Close Button -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" stroke-width="0" fill="none" stroke="currentColor" class="cross-icon" data-id="<%= notification.id %>">
                                    <path fill="currentColor" d="M11.7816 4.03157C12.0062 3.80702 12.0062 3.44295 11.7816 3.2184C11.5571 2.99385 11.193 2.99385 10.9685 3.2184L7.50005 6.68682L4.03164 3.2184C3.80708 2.99385 3.44301 2.99385 3.21846 3.2184C2.99391 3.44295 2.99391 3.80702 3.21846 4.03157L6.68688 7.49999L3.21846 10.9684C2.99391 11.193 2.99391 11.557 3.21846 11.7816C3.44301 12.0061 3.80708 12.0061 4.03164 11.7816L7.50005 8.31316L10.9685 11.7816C11.193 12.0061 11.5571 12.0061 11.7816 11.7816C12.0062 11.557 12.0062 11.193 11.7816 10.9684L8.31322 7.49999L11.7816 4.03157Z"></path>
                                </svg>
                            <% } %>

                        </div>
                    </div>          
                <% }) %>
                <% } else { %>
                    <p class="no-notifications-message">All caught up</p>
                    <% } %>
                </div>
            </div>
            
            <!-- Search Bar -->
            <div class="search-bar-xl4bh6 smart-layers-pointers">
                <div class="search-box-LvIzbA"></div>

                <img class="search-icon-LvIzbA smart-layers-pointers" src="img/search-icon-11-1x-png-1x-png@1x.png" alt="search icon" />
                
                <input
                    class="seach-for-a-specific-lable-LvIzbA lato-black-white-30px"
                    id="searchInput"
                    name="seach-for-a-specific-lable-223"
                    placeholder="Search for a category, label, or sort by date ..."
                    type="text"
                    required
                />
            </div>

        </div>
    </div>
            
    <!-- Labels Section -->
    <div class="cards">
        <% labels.forEach(function(label) { %>
                <% if (label.category_id === 3) { %>
                <%- include('general-complete', { label: { label_id: label.label_id, label_name: label.label_name, qr_data: label.qr_code_data, category_id: label.category_id } }) %>
            <% } else if (label.category_id === 2) { %>
                <%- include('hazard-comple', { label: { label_id: label.label_id, label_name: label.label_name, qr_data: label.qr_code_data, category_id: label.category_id } }) %>
            <% } else if (label.category_id === 1) { %>
                <%- include('fragile-comple', { label: { label_id: label.label_id, label_name: label.label_name, qr_data: label.qr_code_data, category_id: label.category_id } }) %>
            <% } %>
        <% }); %>
    </div>

    <!-- profile and sign out options -->
    <div class="popup-container">
        <label class="popup">
            <input type="checkbox" />
            <div tabindex="0" class="burger">
                <svg
                viewBox="0 0 24 24"
                fill="white"
                height="20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"
                ></path>
                </svg>
            </div>
            <nav class="popup-window">
                <legend><%= userName %></legend>
                <ul>
                <li>
                    <!-- Link to deactivate -->
                        <button>
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.2"
                            stroke-linecap="round"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M19 4v6.406l-3.753 3.741-6.463-6.462 3.7-3.685h6.516zm2-2h-12.388l1.497 1.5-4.171 4.167 9.291 9.291 4.161-4.193 1.61 1.623v-12.388zm-5 4c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm0-1c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm6.708.292l-.708.708v3.097l2-2.065-1.292-1.74zm-12.675 9.294l-1.414 1.414h-2.619v2h-2v2h-2v-2.17l5.636-5.626-1.417-1.407-6.219 6.203v5h6v-2h2v-2h2l1.729-1.729-1.696-1.685z"
                            ></path>
                        </svg>
                        <span>Deactivate account</span>
                        </button>
                </li>
                <li>
                    <!-- Link to logout -->
                    <a href="/logout" style="text-decoration: none; color: inherit;">
                        <button>
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1"
                            stroke-linecap="round"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M2.598 9h-1.055c1.482-4.638 5.83-8 10.957-8 6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5c-5.127 0-9.475-3.362-10.957-8h1.055c1.443 4.076 5.334 7 9.902 7 5.795 0 10.5-4.705 10.5-10.5s-4.705-10.5-10.5-10.5c-4.568 0-8.459 2.923-9.902 7zm12.228 3l-4.604-3.747.666-.753 6.112 5-6.101 5-.679-.737 4.608-3.763h-14.828v-1h14.826z"
                            ></path>
                        </svg>
                        <span>Logout</span>
                        </button>
                    </a>
                </li>
                </ul>
            </nav>
            </label>
        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="../src/helpers/printLable.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          // Attach event listeners to print buttons
          document.querySelectorAll('.print-button').forEach(button => {
              button.addEventListener('click', function () {
                  const labelId = this.getAttribute('data-label-id');
                  const categoryId = this.getAttribute('data-category-id');
    
                  console.log('Label ID:', labelId);
                  console.log('Category ID:', categoryId);
    
                  // Fetch the image from the server
                  fetch(`/generate-image?labelId=${labelId}&category_id=${categoryId}`)
                      .then(response => response.blob())
                      .then(blob => {
                          // Use FileSaver.js to prompt for the download
                          saveAs(blob, `label-${labelId}.png`);
                      })
                      .catch(error => console.error('Error downloading image:', error));
              });
          });
      });

      document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.edit-button').forEach(button => {
            button.addEventListener('click', function () {
                const labelId = this.getAttribute('data-label-id');
                const categoryId = this.getAttribute('data-category-id');

                console.log('Label ID:', labelId);
                console.log('Category ID:', categoryId);

                // Redirect to the edit page
                window.location.href = `/edit-lable-general?labelId=${labelId}&category_id=${categoryId}`;
            });
        });
    });
    </script>
    <script src="../src/helpers/notificationsUser.js"></script>
    <script>
        // Add event listeners to accept buttons
        document.querySelectorAll('.accept-btn').forEach(button => {
            button.addEventListener('click', function() {
                const sharedLabelId = this.getAttribute('data-shared-label-id');

                // Send an AJAX request to accept the label
                fetch(`/notifications/accept-label/${sharedLabelId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload(); // reload to update the UI
                    } else {
                        alert(data.message); // Display any error messages
                    }
                })
                .catch(error => {
                    console.error('Error accepting label:', error);
                });
            });
        });

        // Add event listeners to decline buttons
        document.querySelectorAll('.decline-btn').forEach(button => {
            button.addEventListener('click', function() {
                const sharedLabelId = this.getAttribute('data-shared-label-id');

                // Send an AJAX request to decline the label
                fetch(`/notifications/decline-label/${sharedLabelId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload(); // reload to update the UI
                    } else {
                        alert(data.message); // Display any error messages
                    }
                })
                .catch(error => {
                    console.error('Error declining label:', error);
                });
            });
        });

    </script>

</body>
</html>